Surfing/bin/Debug/Spider.exe
.vs/Spider/v14/.suo
.vs/Spider/v14/.suo
Surfing/bin/Debug/Spider.exe
Surfing/obj/Debug/Spider.exe
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/bin/Debug/Spider.exe
Surfing/obj/Debug/Spider.exe
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/bin/Debug/Spider.exe
Surfing/bin/Debug/Spider.exe
Surfing/bin/Debug/Spider.pdb
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/obj/Debug/Spider.exe
Surfing/obj/Debug/Spider.pdb
Surfing/Spider.csproj
Testing/bin/Spider.exe
Testing/bin/Spider.pdb
Testing/bin/Testing.dll
Testing/bin/Testing.pdb
Testing/obj/Debug/Testing.csprojResolveAssemblyReference.cache
Testing/obj/Debug/Testing.dll
Testing/obj/Debug/Testing.pdb
Testing/Testing.csproj
