Surfing/bin/Debug/Spider.exe
.vs/Spider/v14/.suo
.vs/Spider/v14/.suo
Surfing/bin/Debug/Spider.exe
Surfing/obj/Debug/Spider.exe
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/bin/Debug/Spider.exe
Surfing/obj/Debug/Spider.exe
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/bin/Debug/Spider.exe
Surfing/bin/Debug/Spider.exe
Surfing/bin/Debug/Spider.pdb
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/obj/Debug/Spider.exe
Surfing/obj/Debug/Spider.pdb
Surfing/Spider.csproj
Testing/bin/Spider.exe
Testing/bin/Spider.pdb
Testing/bin/Testing.dll
Testing/bin/Testing.pdb
Testing/obj/Debug/Testing.csprojResolveAssemblyReference.cache
Testing/obj/Debug/Testing.dll
Testing/obj/Debug/Testing.pdb
Testing/Testing.csproj
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/NUnit3TestAdapter.3.2.0/lib/ignore.addins
packages/NUnit3TestAdapter.3.2.0/lib/Mono.Cecil.dll
packages/NUnit3TestAdapter.3.2.0/lib/nunit.engine.api.dll
packages/NUnit3TestAdapter.3.2.0/lib/nunit.engine.dll
packages/NUnit3TestAdapter.3.2.0/lib/NUnit3.TestAdapter.dll
packages/NUnit3TestAdapter.3.2.0/NUnit3TestAdapter.3.2.0.nupkg
packages/NUnit3TestAdapter.3.2.0/tools/install.ps1
packages/NUnitTestAdapter.2.0.0/lib/nunit.core.dll
packages/NUnitTestAdapter.2.0.0/lib/nunit.core.interfaces.dll
packages/NUnitTestAdapter.2.0.0/lib/nunit.util.dll
packages/NUnitTestAdapter.2.0.0/lib/NUnit.VisualStudio.TestAdapter.dll
packages/NUnitTestAdapter.2.0.0/NUnitTestAdapter.2.0.0.nupkg
packages/NUnitTestAdapter.2.0.0/tools/install.ps1
Surfing/bin/Debug/nunit.core.dll
Surfing/bin/Debug/nunit.core.interfaces.dll
Surfing/bin/Debug/nunit.util.dll
Surfing/bin/Debug/NUnit.VisualStudio.TestAdapter.dll
Testing/bin/Mono.Cecil.dll
Testing/bin/nunit.engine.api.dll
Testing/bin/nunit.engine.dll
Testing/bin/NUnit3.TestAdapter.dll
Surfing/bin/Debug/Spider.exe
Surfing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/obj/Debug/Spider.exe
Surfing/packages.config
Testing/bin/Spider.exe
Testing/bin/Testing.dll
Testing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Testing/obj/Debug/Testing.csprojResolveAssemblyReference.cache
Testing/obj/Debug/Testing.dll
Testing/packages.config
Testing/Testing.csproj
Surfing/bin/Debug/Spider.exe
Surfing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/obj/Debug/Spider.exe
Surfing/packages.config
Testing/bin/Spider.exe
Testing/bin/Testing.dll
Testing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Testing/obj/Debug/Testing.csprojResolveAssemblyReference.cache
Testing/obj/Debug/Testing.dll
Testing/packages.config
Testing/Testing.csproj
