Surfing/bin/Debug/Spider.exe
.vs/Spider/v14/.suo
.vs/Spider/v14/.suo
Surfing/bin/Debug/Spider.exe
Surfing/obj/Debug/Spider.exe
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
Surfing/bin/Debug/Spider.exe
Surfing/obj/Debug/Spider.exe
Surfing/obj/Debug/Spider.csprojResolveAssemblyReference.cache
